.promo {
  background-image: url(../img/bg/promo.jpg);
  background-size: cover;
  height: 100vh;
  transition: transform 0.2s linear;
  background-attachment: fixed;
  min-height: 650px;
  position: relative;
  padding-top: 250px;

  @include medium {
    background-attachment: scroll;
  }
}

.promo_active {
  transform: translateX(-30vw);

  @include extra-small {
    transform: translate(0);
  }
}

.promo__container {
  text-align: center;
}
